.ster{
margin-top:12.5%;
margin-left:25%;
position: absolute;
}

body{
	background-image: url("Achtergrond.png");
}
.Boven{

}
.Links{
	
}
.LinksOnder{
	
}
.RechtsOnder{
	
}
.Rechts{
	
}
.geschiedenis{
	margin-left: 15%;
	margin-bottom: 15%;

}
.algemene_info{
	position: absolute;

}

